/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
.title {
padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
color: rgb(152,173,166);
}
.title:hover {
	color: rgb(111,127,122);
}

#main_img{

border: 5px;
border-color: rgb(152,173,166);
border-style: solid;


}
#header_about{
	color: rgb(111,127,122);
    font-size: 2em;
}
#paragraph1{
	color: #555;
	    font-size: 1em;
	    margin: 0 0 20px 0;
}
#paragraph2{
	color: #555;
	    font-size: 1em;
	    margin: 0 0 20px 0;
}
#learn_more{
	color: #1783bb;
	text-decoration: none;

}
#paragraph3{
	color: #555;
	    font-size: 1em;
	    margin: 0 0 20px 0;
}
#header_press{
	margin-bottom: 20px;
	color: rgb(111,127,122);
		font-size: 2em;
}
#logo1{
	border: 5px;
	border-color: rgb(152,173,166);
padding: 1px;

}
#logo2{
	border: 5px;
	border-color: rgb(152,173,166);
padding: 1px;
}
#logo3{
	border: 5px;
	border-color: rgb(152,173,166);
padding: 1px;
}
#logo4{
	border: solid;
	border: 5px;
	border-color: rgb(152,173,166);
padding: 1px;
}
#paragraph4{
	text-align: right;
	font-size: 0.8em;
	color: #555;


}
